.titular{
  background-color: #28323c;

  &__wrap-1220{
    max-width: 1220px;
    margin: 0 auto;
    padding-bottom: 55px;
  }

  &__media-wrap{
  }

  &__facts{
    margin-top: 35px;
    padding: 0 35px;
  }
}

.media{
  position: relative;
  line-height: 0;

  &::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/img/grid.png");
  }

  &__img{
    box-shadow: 15px 15px 45px rgba(16, 22, 28, 0.50);
  }

  &__video{
    box-shadow: 15px 15px 45px rgba(16, 22, 28, 0.50);
    max-width: 100%;
    width: 100%;
  }

  &__play-stop{
    position: absolute;
    background: url("/img/play-pause.png") no-repeat center;
    font-size: 28px;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    bottom: 30px;
    left: 40px;
    width: 40px;
    height: 40px;
    z-index: 4;
    opacity: 0.8;
    transition: all 0.5s;

    &:hover{
      opacity: 1;
      border-radius: 15%;
    }
  }
}

.facts{
  display: flex;
  justify-content: space-between;

  &__item{
    font-size: 20px;
    font-weight: 900;
    color: #FFFFFF;
    max-width: 270px;
    line-height: 1.2;
    text-transform: uppercase;
  }
}