.titular{
  background-color: #28323c;

  &__wrap-1220{
    max-width: 1220px;
    margin: 0 auto;
    padding: 15px 30px 55px;
  }

  &__block-title{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }

  &__media-wrap{
    margin-top: 40px;
  }

  &__facts{
    margin-top: 35px;
    padding: 0 35px;
  }
}

.media{
  line-height: 0;

  &__img{}
}

.facts{
  display: flex;
  justify-content: space-between;

  &__item{
    font-size: 20px;
    font-weight: 900;
    color: #FFFFFF;
    max-width: 270px;
    line-height: 1.2;
  }
}