.statistic{
  background-color: #1c222a;

  &__wrap-1090{
    max-width: 1090px;
    margin: 0 auto;
    padding: 50px 120px 90px 70px;
  }

  &__block-title{}

  &__img-facts-wrap{
    display: flex;
    margin-top: 45px;
  }

  &__img{}

  &__facts{
    margin-left: 60px;
  }

  &__sj-grow{
    padding: 45px 20px;
    background-color: #85be4c;
  }

  &__sj-grow-text{
    max-width: 665px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 2;
  }
}

.facts-in-figures{
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item{
    margin: 23px 0;
  }

  &__figure{
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
    line-height: 1;
  }

  &__text{
    font-size: 20px;
    color: #85be4c;
    line-height: 1.2;
  }
}