.principles{
  background-color: #28323c;

  &__wrap-1080{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 130px 55px 70px;
  }

  &__block-title{}

  &__list{
  }
}

.three-elem-list{
  display: flex;
  justify-content: space-between;

  &__item{
    max-width: 280px;
  }
}

.info-block{
  &--with-img{}

  &__img-wrap{
    margin-bottom: 25px;
  }

  &__img{
    //box-shadow: 0 15px 45px rgba(16,22,28,.5);
  }

  &__text-wrap{}

  &__title{
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;

    &--top-indent{
      margin-top: 55px;
    }
  }

  &__text{
    margin-top: 20px;
  }
}