.information{
  background-color: #1c222a;

  &__wrap-1160{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 50px 70px 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__text-wrap{
    max-width: 450px;
  }

  &__block-title{}

  &__text{
    padding-right: 60px;
  }

  &__text-paragraph{}

  &__give-offer-wrap{
    margin-top: 75px;
  }

  &__give-offer-btn{
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #85be4c;
    border-radius: 3px;
  }

  &__images-list{
    max-width: 640px;
    padding: 60px 0 0 30px;
  }
}

.images-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-self: center;

  &__item{
    //max-width: 200px;
    width: 31.25%;

    &:nth-last-child(n+4){
      margin-bottom: 3.125%;
    }

    &:nth-child(3n+2){
      margin-left: 3.125%;
      margin-right: 3.125%;
    }
  }

  &__img{
    display: block;
  }
}