*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16px;
  font-family: @defaultFont;
  &:focus, &:hover{
    outline: none
  }
}

/*core folder*/
@import 'core/variable';
@import 'core/mixins';
@import 'core/text';

/*core folder*/
@import 'other/magnific-popup';
@import 'other/popup';

/*desctop folder*/
@import 'desktop/common';
@import 'desktop/1_header';
@import 'desktop/2_titular';
@import 'desktop/3_statistic';
@import 'desktop/4_principles';
@import 'desktop/5_objectives';
@import 'desktop/6_leaders';
@import 'desktop/7_support';
@import 'desktop/8_plans';