//======================================================================================================================
// Colors
@link-color: #ffcc00;
@link-border: rgba(255, 204, 0, 0.71);

@hover-color: #ffe062;
@hover-border: #ffe062;


//======================================================================================================================
// Fonts

@defaultFont: Roboto, "Arial", sans-serif; // Шрифт по умолчанию

//======================================================================================================================
// Sprites