//======================================================================================================================
// Colors
@link-color: #ffcc00;
@link-border: rgba(253, 224, 86, 0.4);

@hover-color: #ffe062;
@hover-border: rgba(248, 224, 108, 0.4);


//======================================================================================================================
// Fonts

@defaultFont: Roboto, "Arial", sans-serif; // Шрифт по умолчанию

//======================================================================================================================
// Sprites